*.pyc
*jobs*
*.pdf
*redo*
*validation*
task*
.nfs*
*barax*
*munich*
*.tif
*.nc
*.hdf
*.pkl
*.out
*test*
*.temp
*.ipynb
*.swp
*.hdf
*.egg-info/
*.iml
*/util/l8_angles/l8_angles
.ipynb_checkpoints/
*/images/*
*/old_code/*

